@keyframes left-right {
  from {transform: translateX(-100px);}
  to {transform: translateX(0px);}
}

@keyframes right-left {
  from {transform: translateX(100px);}
  to {transform: translateX(0);}
}

@keyframes up-down {
  from {transform: translateY(-100px);}
  to {transform: translateY(0);}
}